
<center class="Welcome"><strong>Welcome {{user.name}}</strong>,({{user.mobile}})</center>
<center class="Welcome"><strong>Delivery address: </strong>{{user.address}},Jaipur(Raj.)</center>

<br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link  milk" href="/users/mysubscription?mobile={{user.mobile}}&&address={{user.address}}">Milk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link curd" href="/users/mysubscription_curd?mobile={{user.mobile}}&&address={{user.address}}">Curd</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ghee" href="/users/mysubscription_ghee?mobile={{user.mobile}}&&address={{user.address}}">Ghee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active update" href="/users/mysubscription_up?mobile={{user.mobile}}&&address={{user.address}}">Update your data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link submit" href="/users/mysubscription_q?mobile={{user.mobile}}&&address={{user.address}}">Submit your query</a>
  </li>
</ul>

<div  class="container-fluid h3 sub">Select and update</div>
<div class="form-group container">
         <form method="post" action="/users/updateData?mobile={{user.mobile}}&&address={{user.address}}" class="update">
          <div class="form-group row ">
          <select name="up" class="form-control col-sm-6" id="thedropdown">
          <option value="mobile">Mobile number</option>
          <option value="address">Address</option>
        </select>
        <input type="text" name="updateval" placeholder="new data" class="form-control col-sm-6">
        </div> 
        <center><button type="submit" class="btn btnn btn-default">Update</button></center>
         </form>
         </div>

<div class="hellooo row container-fluid">
  <div class="col-sm-6 o">&copy; 2015 Desi Cow's Milk</div>
</div>
<script type="text/javascript" src="../assets/jquery-3.2.1.js"></script> <!--important-->
<script src="../assets/home.js"></script>